@import './variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#__next {
    height: 100vh;
}

h1 {
    font-size: $largest;
}

h2 {
    font-size: $large;
}

a {
    display: block;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button{
    border : none;
    
}

.quill {
    height: 100%;

    .ql-container {
        height: 100%;

        .ql-editor {
            font-size: $default;

            p {
                img {
                    width: 100%
                }
            }
        }

    }
}