@import './variable.scss';

@mixin bannerlocation {
    margin-top: 15px;
    margin-left: 300px;
}

@mixin bannerScale {
    width: 30%;
    height: 50%;
}

@mixin bannerAni {
    animation-name: fade-in;  
    animation-fill-mode: both;
    animation-duration: .5s;
}

.main {
    width: 100%;
    height: 100%;

    .banner {
        width: 100%;
        height: 100%;
        display: flex;


        .hello {
            @include bannerlocation;
            @include bannerScale;

            p {
                position: relative;
                font-size: $default;
                margin-top: 10px;

                @include bannerAni;
            }
        }

        .spec {
            display: none;
            @include bannerlocation;
            @include bannerScale;

            p {
                position: relative;
                font-size: $default;
                margin-top: 10px;
                @include bannerAni;

                img {
                    width: 20%;
                    height: 15%;
                    background: cover;
                }
            }
        }

        .hide {
            display: none;
        }

        .appear {
            display: block;
        }
    }

    button {
        width: 40px;
        height: 40px;
        border: 0;
        cursor: pointer;

        position: absolute;
        top: 50%;
        left: 300px;
        background: transparent;
    }
}



@for $i from 1 through 5 {
    .hello {
        p:nth-of-type(#{$i}) {
            animation-delay: #{1 + ($i)* 0.5}s;
        }
    }

    .spec {
        p:nth-of-type(#{$i}) {
            animation-delay: #{1 + ($i)* 0.5}s;
        }
    }
}

@keyframes fade-in {
    0% {
        left: -10%;
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

@media(max-width : $breakpoing_tablet) {
    .main {
        .banner {
            .hello {
                p {
                    font-size: $small;
                }
            }
        }
    }
}