//reactive-browser-width
$breakpoing_tablet : 768px;

//color
$complete : #505DD0;
$borderColor : #c8c8c8;
$deepGray : #1A1B23;
$whiteGray : #9497AB;
$fail : #FF655B;
$mint : #5cffd1;

//font-size
$smallest : 0.5rem;
$small : 0.8rem;
$default : 1.1rem;
$large : 1.6rem;
$largest : 2.4rem;
