@import 'src/styles/variable.scss';

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: $mint;
    position: relative;
    bottom : -100%;

    .footerContents {
        margin: 1%;

        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}