@import '../../styles/variable.scss';

.header {
    width: 100%;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $default 10%;
    background-color: #202020;
    transition: 0.3s all;

    .blogName {
        font-size: $large;
        color: white;
        font-family: 'Fira', sans-serif;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $mint;

        a {
            font-size: $large;
            color: $mint;
            text-align: center;
        }
    }

    .userName {
        color: $mint;
    }

    nav {
        .headerNavigation {
            display: flex;
            justify-content: center;
            gap: 10px;

            li {
                a {
                    color: $mint;
                    font-size: $default;
                    transition: 0.1s all;
                    cursor: pointer;

                    &:hover {
                        color: $complete;
                    }

                    &:active {
                        color: $fail;
                    }
                }
            }

        }
    }
}




@media (max-width: ($breakpoing_tablet)) {
    .blogName {
        a {
            font-size: $default;
        }
    }

    .headerNavigation a {
        font-size: $small;
    }
}