@import '/src/styles/variable.scss';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $default 10%;
    height: 3rem;
    background-color: #202020;
}

.blogName {
    font-size: $large;
    color: white;
    font-family: 'Fira', sans-serif;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $mint;

    a {
        color: $mint;
    }

}

.headerNavigation {
    display: flex;
    justify-content: center;
    gap: 10px;

    a {
        color: $mint;
        font-size: $small;
        transition: 0.1s all;

        &:hover {
            color: $point-blue;
        }

        &:active {
            color: $point-red;
        }
    }
}

@media (min-width: ($breakpoing_tablet)) {
    .blogName {
        font-size: $largest;
    }

    .headerNavigation a {
        font-size: $large;
    }
}