.sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform: translateX(-240px);
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translateX(0);
    }

    &::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .profileImage {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            opacity: 1;
        }

        .profileName {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .profileBio {
            margin: 0;
            font-size: 14px;
            color: #666;
        }
    }

    .recentPosts {
        margin-top: 20px;
        padding-left: 20px;

        h3 {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 10px;
                font-size: 14px;
                color: #666;
                transition: color 0.2s ease-in-out;


                a {
                    color: #333;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// --------버튼만 따로관리----------
.sideToggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    .toggleButton {
        width: 30px;
        height: 30px;
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 0px;
        border-radius: 5px;
        transform: translateY(-50%);
        background-color: rgba($color: #fff, $alpha: 0.5);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        margin-left: 15px;
        background: url('/icons/angle-right.png');
        background-size: cover;


        &.active {
            transform: translateX(240px) translateY(-50%) rotate(-180deg);
        }

        &:hover {
            background-color: #c8c8c8;
        }

    }
}