@import '/src/styles/variable.scss';

.button {
    width: 150px;
    height: 50px;
    transition: 0.5s all;
    color: $deepGray;


    cursor: pointer;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: $mint;
    }
}