@import '/src/styles/variable.scss';

.button {
    width: 100%;
    height: 100%;
    transition: 0.5s all;
    color: $mint;
    background-color: $deepGray;

    &:hover {
        color: $deepGray;
        background-color: $mint;
    }
}