.slider {
    width: 100%;
    height: 100%;

    .slick {

        .slickCarousel1,
        .slickCarousel3,
        .slickCarousel2,
        .slickCarousel4 {
            height: 100%;

            .contents {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .modalImg {
                    width: 50%;

                    img {
                        width: 60%;
                    }
                }
            }
        }

    }

}